* {
    padding: 0;
    margin: 0;
}

body{
     background-image: url(../images/bg-body.png);
     background-repeat: round;
     size: 100%;
}
header{
    text-align: center;
}

.main-nav {
    display: inline;
}

header img {
    border-radius: 50%;   
}

.banner img {
    width: 100%;
    display: none;
}

.photo {
    margin-top: 20px;
    width: 100%;
}

li {
    list-style-type: none;
    background-color: gray;
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: center;
    padding: 5px;
}

a{
    color: white;
    text-decoration: none;
}

.photo-container {
    position: relative;
}

.special {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 20px;
}

article img {
    text-align: center;
}

.main-footer {
    text-align: center;
}

.zoom {
    background-color: rgba(100, 100, 100, 0.5);
    color: #FFF;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
}

.more {
    background-color: gray;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

@media (min-width: 460px) {
    /*como ocultaste la img esa es a la que debes mostrar de nuevo*/
    .banner img{
        display: block;
    }
    .vip-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width: 760px) {
    .banner {
        padding: 15px;
        display: block;
        width: 100%;
    }
    .main-nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .vip-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    body {
        margin: 0px auto;
    }

    .main-header {
        margin-top: 15px;
        /* margin-bottom: 30px; */
    }

    .main-header img {
        width: 180px;
    }

    /*no uses nunca altos ni anchos, porque se rompe todo, mejor coloca padding*/
    /*.main-header div {
        width: 180px;
        height: 50px;  
    }*/

    /*usa el mismo selector para cambiar las columnas*/
    .main-nav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .vip-products {
        margin-top: 30px;
    }
    /*no es necesario dar tamaño a la imagen*/
    /* .photo {
        position: relative;
        width: 380px;
    } */

    .photo-container{
        position: relative;
    }

    .special {
        position: absolute;
    }

    .main-footer {
        margin-top: 30px;
    }

}