* {
    margin: 0;
    padding: 0;    
}

#global{
    width: 1000px;
    margin: 0px auto;
}

#filas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding: 20px;
}

a{
    text-decoration: none;
}

#row1{
    background-color: red;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.mas{
    text-align: center;
}

.mas a{
    background-color: red;
    display: inline-block;
    padding: 10px 30px;
}

#row2{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 20px;
    border: solid white 10px;
}

/*el div para ell producto debe tener esto, use un selector descendente*/
#row2 div{
    position: relative;
}

body{
    background-image: url(../imgpractica2/bg-2.png);
}

.hola{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-bottom: 5px;
}

#tuto{
    background-color: white;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

#publi{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    text-align: center;
}

#img{
    text-align: center;
    background-color: white;
}

#header{
    position: relative;
}

.oferta{
    position: absolute;
    width: 50px;
    top: 10px;
    left: 10px;
}

.zoom{
    background-color: rgba(grey);
}