*{
    padding: 0;
    margin: 0;
}

.banner{
    display: none;
}



.logo{
    border-radius: 50%;
    margin-left: 50%; /*margen a la mitad*/
    transform: translateX(-50%); /*asi lo terminamos de centrar*/
}

.main-nav{
    text-align: center;
}

/*solo a ul le saco las viñetas*/
ul{
    list-style-type: none;
}

.main-nav li{
    padding: 10px;
    margin-bottom: 3px;
    background-color: rgba(100, 100, 100);
    text-transform: uppercase;
    text-decoration: none;
}


li a{
    border-bottom: 1px solid white;
    margin-bottom: 3px;
    background-color: rgb(100, 100, 100) ;
    text-transform: uppercase;
}


a{
    color: white;
    text-decoration: none;
}

/*solo necesito aplicar posicionamiento relativo para que el special y zoom queden absolutos*/
.photo-container{
    position: relative;
}

/*los pongo aqui para ordenarlos*/
.special{
    position: absolute;
    top: 0;
    right: 1%;
}

.zoom{
    background-color: rgba(100, 100, 
    100, 0.5);
    position: absolute;
    top: 50%;
    padding: 10px;
    /* width: 280px; no uses anchos aqui  mejor lo siguiente*/
    left: 0;
    right: 0;
    text-align: center ;
}

.photo{
    width: 100%;
}

/*aqui voy a cambiar para tablets*/
@media (min-width: 768px) {
    /*el selector es de clase con el punto*/
    .vip-products{
        /*es necesario definir display grip*/
        display: grid;
        /*aqui quiero dos columnas*/
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

