* {
    padding: 0;
    margin: 0;
}

.main-header{
    text-align: center;
}

.banner{
    display: none;
}

.photo-container{
    position: relative;
}

.photo{
    width: 100%;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: white;
}

.main-nav{
    text-transform: uppercase;
}

.main-nav li{
    background-color: rgba(100,100,100,0.5);
    padding: 10px;
    margin-bottom: 2px;
}

.special{
    position: absolute;
    top:0;
    right: 10px;
}

.zoom{
    background-color: rgba(100, 100, 100, 0.753);
    position: absolute;
    right: 0;
    left: 0;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.banner img{
    width: 100%;
}

.vip-products{
    padding: 10px;
}

@media (min-width:550px) {
    .banner{
        display: block;
    }
}