body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(../imagenes/emilia-home.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}

li{
    list-style-type: none;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: rgba(237, 236, 238, 0.5);
    font-size: 52px;
}

h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}